@import './fonts.css' layer(base); /* for custom fonts */

@import 'tailwindcss';

@theme {
	--font-*: initial;
	--font-raleway: raleway, sans-serif;
	--font-body: proxima-nova, sans-serif;

	--color-brand-primary: #f2c955;
	--color-brand-secondary: #2f6eb3;
	--color-brand-orange: #e08030;
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@utility btn {
	@apply transition-colors duration-300 ease-linear;
}

@utility btn-primary {
	@apply bg-brand-primary text-white;
}

@layer base {
	html {
		@apply font-body antialiased;
	}

	[x-cloak] {
		@apply hidden!;
	}
}
