---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Cta from '@components/Cta.astro';
---

<Layout title='Astro'>
	<Header />
	<div class='max-w-[1920px] mx-auto relative bg-linear-to-r from-[#f3c955] to-[#e7c75e]'>
		<div class="hidden xl:block fixed top-16 left-0 bottom-0 h-full z-60">
			<div class="h-full border-r border-white pt-2 pl-6 pr-2.5 space-y-1">
				<a href="/" class="bg-brand-secondary rounded-full p-1 size-8 flex justify-center items-center hover:bg-black btn">
					<svg class="size-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M9.36556 10.6821C10.302 12.3288 11.6712 13.698 13.3179 14.6344L14.2024 13.3961C14.4965 12.9845 15.0516 12.8573 15.4956 13.0998C16.9024 13.8683 18.4571 14.3353 20.0789 14.4637C20.599 14.5049 21 14.9389 21 15.4606V19.9234C21 20.4361 20.6122 20.8657 20.1022 20.9181C19.5723 20.9726 19.0377 21 18.5 21C9.93959 21 3 14.0604 3 5.5C3 4.96227 3.02742 4.42771 3.08189 3.89776C3.1343 3.38775 3.56394 3 4.07665 3H8.53942C9.0611 3 9.49513 3.40104 9.5363 3.92109C9.66467 5.54288 10.1317 7.09764 10.9002 8.50444C11.1427 8.9484 11.0155 9.50354 10.6039 9.79757L9.36556 10.6821ZM6.84425 10.0252L8.7442 8.66809C8.20547 7.50514 7.83628 6.27183 7.64727 5H5.00907C5.00303 5.16632 5 5.333 5 5.5C5 12.9558 11.0442 19 18.5 19C18.667 19 18.8337 18.997 19 18.9909V16.3527C17.7282 16.1637 16.4949 15.7945 15.3319 15.2558L13.9748 17.1558C13.4258 16.9425 12.8956 16.6915 12.3874 16.4061L12.3293 16.373C10.3697 15.2587 8.74134 13.6303 7.627 11.6707L7.59394 11.6126C7.30849 11.1044 7.05754 10.5742 6.84425 10.0252Z"></path></svg>
				</a>
				<a href="/" class="bg-brand-secondary rounded-full p-1 size-8 flex justify-center items-center hover:bg-black btn">
					<svg class="size-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM20 7.23792L12.0718 14.338L4 7.21594V19H20V7.23792ZM4.51146 5L12.0619 11.662L19.501 5H4.51146Z"></path></svg>
				</a>
				<a href="/" class="bg-brand-secondary rounded-full p-1 size-8 flex justify-center items-center hover:bg-black btn">
					<svg class="size-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12.001 9C10.3436 9 9.00098 10.3431 9.00098 12C9.00098 13.6573 10.3441 15 12.001 15C13.6583 15 15.001 13.6569 15.001 12C15.001 10.3427 13.6579 9 12.001 9ZM12.001 7C14.7614 7 17.001 9.2371 17.001 12C17.001 14.7605 14.7639 17 12.001 17C9.24051 17 7.00098 14.7629 7.00098 12C7.00098 9.23953 9.23808 7 12.001 7ZM18.501 6.74915C18.501 7.43926 17.9402 7.99917 17.251 7.99917C16.5609 7.99917 16.001 7.4384 16.001 6.74915C16.001 6.0599 16.5617 5.5 17.251 5.5C17.9393 5.49913 18.501 6.0599 18.501 6.74915ZM12.001 4C9.5265 4 9.12318 4.00655 7.97227 4.0578C7.18815 4.09461 6.66253 4.20007 6.17416 4.38967C5.74016 4.55799 5.42709 4.75898 5.09352 5.09255C4.75867 5.4274 4.55804 5.73963 4.3904 6.17383C4.20036 6.66332 4.09493 7.18811 4.05878 7.97115C4.00703 9.0752 4.00098 9.46105 4.00098 12C4.00098 14.4745 4.00753 14.8778 4.05877 16.0286C4.0956 16.8124 4.2012 17.3388 4.39034 17.826C4.5591 18.2606 4.7605 18.5744 5.09246 18.9064C5.42863 19.2421 5.74179 19.4434 6.17187 19.6094C6.66619 19.8005 7.19148 19.9061 7.97212 19.9422C9.07618 19.9939 9.46203 20 12.001 20C14.4755 20 14.8788 19.9934 16.0296 19.9422C16.8117 19.9055 17.3385 19.7996 17.827 19.6106C18.2604 19.4423 18.5752 19.2402 18.9074 18.9085C19.2436 18.5718 19.4445 18.2594 19.6107 17.8283C19.8013 17.3358 19.9071 16.8098 19.9432 16.0289C19.9949 14.9248 20.001 14.5389 20.001 12C20.001 9.52552 19.9944 9.12221 19.9432 7.97137C19.9064 7.18906 19.8005 6.66149 19.6113 6.17318C19.4434 5.74038 19.2417 5.42635 18.9084 5.09255C18.573 4.75715 18.2616 4.55693 17.8271 4.38942C17.338 4.19954 16.8124 4.09396 16.0298 4.05781C14.9258 4.00605 14.5399 4 12.001 4ZM12.001 2C14.7176 2 15.0568 2.01 16.1235 2.06C17.1876 2.10917 17.9135 2.2775 18.551 2.525C19.2101 2.77917 19.7668 3.1225 20.3226 3.67833C20.8776 4.23417 21.221 4.7925 21.476 5.45C21.7226 6.08667 21.891 6.81333 21.941 7.8775C21.9885 8.94417 22.001 9.28333 22.001 12C22.001 14.7167 21.991 15.0558 21.941 16.1225C21.8918 17.1867 21.7226 17.9125 21.476 18.55C21.2218 19.2092 20.8776 19.7658 20.3226 20.3217C19.7668 20.8767 19.2076 21.22 18.551 21.475C17.9135 21.7217 17.1876 21.89 16.1235 21.94C15.0568 21.9875 14.7176 22 12.001 22C9.28431 22 8.94514 21.99 7.87848 21.94C6.81431 21.8908 6.08931 21.7217 5.45098 21.475C4.79264 21.2208 4.23514 20.8767 3.67931 20.3217C3.12348 19.7658 2.78098 19.2067 2.52598 18.55C2.27848 17.9125 2.11098 17.1867 2.06098 16.1225C2.01348 15.0558 2.00098 14.7167 2.00098 12C2.00098 9.28333 2.01098 8.94417 2.06098 7.8775C2.11014 6.8125 2.27848 6.0875 2.52598 5.45C2.78014 4.79167 3.12348 4.23417 3.67931 3.67833C4.23514 3.1225 4.79348 2.78 5.45098 2.525C6.08848 2.2775 6.81348 2.11 7.87848 2.06C8.94514 2.0125 9.28431 2 12.001 2Z"></path></svg>
				</a>
				<a href="/" class="bg-brand-secondary rounded-full p-1 size-8 flex justify-center items-center hover:bg-black btn">
					<svg class="size-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M14 13.5H16.5L17.5 9.5H14V7.5C14 6.47062 14 5.5 16 5.5H17.5V2.1401C17.1743 2.09685 15.943 2 14.6429 2C11.9284 2 10 3.65686 10 6.69971V9.5H7V13.5H10V22H14V13.5Z"></path></svg>
				</a>
			</div>
		</div>
		<div class="relative">
			<img src="/img/bg-hero-home.webp" class="w-full h-full inset-0 absolute inset-0 object-[15%_50%] sm:object-[40%_50%] md:object-[50%_50%] object-cover" alt="">
			<div class="xl:w-[calc(100%-66px)] ml-auto">
				<div class="container xl:px-12 relative z-20 pt-40 md:pt-44 lg:pt-48 xl:pt-64 2xl:pt-74 pb-40 md:pb-50 xl:pb-64 2xl:pb-56">
					<div class="sm:w-[55%] lg:w-1/2 xl:w-[45%] 2xl:w-2/5">
						<h1 class="text-white text-4xl/[40px] md:text-5xl/[56px] xl:text-6xl/[72px] font-bold">De <span class="text-brand-secondary">Beste</span> Frietjes in echte puntzak!</h1>
						<span class="w-16 md:w-20 h-1.5 md:h-2 lg:h-2.5 bg-white block mt-3 md:mt-4"></span>
						<span class="w-5/6 md:w-3/4 lg:w-[70%] xl:w-2/3 2xl:w-3/5 block pt-6 md:pt-8 lg:pt-10">
							<p class="text-white text-xs">Nequatiis reptatur, simagnis aut es exerumendam volor se vidus, im rate volland iaspis et electatus aut etur arci volorem int am iditas sitam ullacepta dis et rem hit expelitiae. Bus, necto qui voloriatem re pe ni rem antia dolum quae net lacerit eum volut voluptius, corias eos soluptasimi, sinulpariam fugitium quo conse rescias dolest lam quiasin etur?</p>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="relative">
			<img src="/img/bg-offer.jpg" class="absolute inset-x-0 bottom-0 w-full h-full object-cover" alt="">
			<div class="xl:w-[calc(100%-66px)] ml-auto relative z-20 pb-26 sm:pb-39 lg:pb-45 xl:pb-59">
				<div class="container pt-14 md:pt-16 xl:px-12">
					<div class="xl:w-[95%] mx-auto mb-16 xl:mb-24">
						<h2 class="text-center text-white text-4xl/[40px] md:text-5xl/[56px] xl:text-6xl/[72px] font-bold pb-8 md:pb-10 xl:pb-12">Ons <span class="text-brand-secondary">aanbod</span></h2>
						<div class="flex flex-col md:flex-row gap-3">
							<div class="md:w-[30%] bg-brand-secondary px-3 py-5">
								<ul class="gap-y-1 md:gap-y-3 justify-center md:justify-start gap-x-8 md:gap-x-3 lg:gap-5 flex flex-wrap md:flex-nowrap flex-row md:flex-col text-center md:text-left">
									<li class="uppercase text-white group">
										<span class="flex items-center xl:gap-2 lg:text-xl group-hover:text-brand-primary xl:group-hover:text-white xl:group-hover:text-2xl font-semibold xl:font-normal xl:group-hover:font-semibold">
											HAPJES
											<svg class="text-white opacity-0 hidden xl:block group-hover:opacity-100 size-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path></svg>
										</span>
									</li>
									<li class="uppercase text-white group">
										<span class="flex items-center xl:gap-2 lg:text-xl group-hover:text-brand-primary xl:group-hover:text-white xl:group-hover:text-2xl font-semibold xl:font-normal xl:group-hover:font-semibold">
											WARME LUCHTOVEN
											<svg class="text-white opacity-0 hidden xl:block group-hover:opacity-100 size-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path></svg>
										</span>
									</li>
									<li class="uppercase text-white group">
										<span class="flex items-center xl:gap-2 lg:text-xl group-hover:text-brand-primary xl:group-hover:text-white xl:group-hover:text-2xl font-semibold xl:font-normal xl:group-hover:font-semibold">
											MENU'S
											<svg class="text-white opacity-0 hidden xl:block group-hover:opacity-100 size-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path></svg>
										</span>
									</li>
									<li class="uppercase text-white group">
										<span class="flex items-center xl:gap-2 lg:text-xl group-hover:text-brand-primary xl:group-hover:text-white xl:group-hover:text-2xl font-semibold xl:font-normal xl:group-hover:font-semibold">
											MENU'S OP BOARD
											<svg class="text-white opacity-0 hidden xl:block group-hover:opacity-100 size-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path></svg>
										</span>
									</li>
									<li class="uppercase text-white group">
										<span class="flex items-center xl:gap-2 lg:text-xl group-hover:text-brand-primary xl:group-hover:text-white xl:group-hover:text-2xl font-semibold xl:font-normal xl:group-hover:font-semibold">
											PASTA
											<svg class="text-white opacity-0 hidden xl:block group-hover:opacity-100 size-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path></svg>
										</span>
									</li>
								</ul>
							</div>
							<!-- HAPJES -->
							<div class="md:w-[70%]">
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-10 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/kipsate.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Kipsaté</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Perfect gekruide kipsatés</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">HAPJES</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-9 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center justify-between gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/bitterballen.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Reuze bitterballen</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">De enige echte Kwekkelboom</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">HAPJES</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-8 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center justify-between gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/kaassticks.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Kaassticks</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Stick gevuld met romige kaas</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">HAPJES</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-7 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center justify-between gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/mini-loempias.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Mini loempia's</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Knapperige loempia's geserveerd met pikante saus</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">HAPJES</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-6 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center justify-between gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/scampi-twister.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Scampi twister</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Hapje in filodeeg met scampi en groentjes</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">HAPJES</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-5 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center justify-between gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/bami.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Bami</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Frituurhapje gevuld met noedels</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">HAPJES</span>
								</div>
							</div>

							<!-- WARME LUCHTOVEN -->
							<!-- <div class="md:w-[70%]">
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-10 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/kipsate.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Kippeboutjes</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Heerlijk gebakken in de oven</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">WARME LUCHTOVEN</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-9 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center justify-between gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/mini-pizza.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Mini pizza's</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6"></p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">WARME LUCHTOVEN</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-8 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center justify-between gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/ovenpasteitjes.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Ovenpasteitjes</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Diverse pasteitjes</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">WARME LUCHTOVEN</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-7 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center justify-between gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/bruschetta.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Bruschetta</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Met geitenkaas</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">WARME LUCHTOVEN</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-6 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center justify-between gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/wafeltje.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Hartig wafeltje</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6"></p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">WARME LUCHTOVEN</span>
								</div>
							</div> -->

							<!-- MENU'S -->
							 <!-- <div class="md:w-[70%]">
									<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-10 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
										<img src="/img/kipsate.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
										<div class="sm:w-2/5 md:w-[35%] 2xl:w-[37%] shrink-0">
											<h3 class="lg:text-xl font-bold text-white">Frietjes met saus naar keuze</h3>
										</div>
										<span class="block sm:w-1/5 xl:w-1/4 2xl:w-[30%] shrink-0 text-center">
											<p class="text-white text-xs xl:w-5/6">prijs volgens aantal à volonté</p>
										</span>
										<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
									</div>
									<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-9 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
										<img src="/img/mini-pizza.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
										<div class="sm:w-2/5 md:w-[35%] 2xl:w-[37%] shrink-0">
											<h3 class="lg:text-xl font-bold text-white">Frietjes met saus en frikandel</h3>
										</div>
										<span class="block sm:w-1/5 xl:w-1/4 2xl:w-[30%] shrink-0 text-center">
											<p class="text-white text-xs xl:w-5/6">à volonté</p>
										</span>
										<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
									</div>
									<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-8 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
										<img src="/img/ovenpasteitjes.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
										<div class="sm:w-2/5 md:w-[35%] 2xl:w-[37%] shrink-0">
											<h3 class="lg:text-xl font-bold text-white">Frietjes met saus en brochette</h3>
										</div>
										<span class="block sm:w-1/5 xl:w-1/4 2xl:w-[30%] shrink-0 text-center">
											<p class="text-white text-xs xl:w-5/6">à volonté</p>
										</span>
										<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
									</div>
									<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-7 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
										<img src="/img/bruschetta.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
										<div class="sm:w-2/5 md:w-[35%] 2xl:w-[37%] shrink-0">
											<h3 class="lg:text-xl font-bold text-white">Frietjes met saus, brochette, kaaskroket en frikandel</h3>
										</div>
										<span class="block sm:w-1/5 xl:w-1/4 2xl:w-[30%] shrink-0 text-center">
											<p class="text-white text-xs xl:w-5/6">à volonté</p>
										</span>
										<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
									</div>
									<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-6 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
										<img src="/img/wafeltje.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
										<div class="sm:w-2/5 md:w-[35%] 2xl:w-[37%] shrink-0">
											<h3 class="lg:text-xl font-bold text-white">Frietjes met saus, frikandel, brochette en lookworst</h3>
										</div>
										<span class="block sm:w-1/5 xl:w-1/4 2xl:w-[30%] shrink-0 text-center">
											<p class="text-white text-xs xl:w-5/6">à volonté</p>
										</span>
										<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
									</div>
									<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-5 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
										<img src="/img/bruschetta.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
										<div class="sm:w-2/5 md:w-[35%] 2xl:w-[37%] shrink-0">
											<h3 class="lg:text-xl font-bold text-white">Frietjes met saus, frikandel, kaaskroket, brochette en lookworst</h3>
										</div>
										<span class="block sm:w-1/5 xl:w-1/4 2xl:w-[30%] shrink-0 text-center">
											<p class="text-white text-xs xl:w-5/6">à volonté</p>
										</span>
										<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
									</div>
									<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-4 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
										<img src="/img/wafeltje.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
										<div class="sm:w-2/5 md:w-[35%] 2xl:w-[37%] shrink-0">
											<h3 class="lg:text-xl font-bold text-white">Pasta, frietjes met saus, frikandel en brochette</h3>
										</div>
										<span class="block sm:w-1/5 xl:w-1/4 2xl:w-[30%] shrink-0 text-center">
											<p class="text-white text-xs xl:w-5/6">à volonté</p>
										</span>
										<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
									</div>
									<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-3 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
										<img src="/img/bruschetta.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
										<div class="sm:w-2/5 md:w-[35%] 2xl:w-[37%] shrink-0">
											<h3 class="lg:text-xl font-bold text-white">VIP: 6 hapjes gevolgd door frietjes en frikandel</h3>
										</div>
										<span class="block sm:w-1/5 xl:w-1/4 2xl:w-[30%] shrink-0 text-center">
											<p class="text-white text-xs xl:w-5/6">à volonté</p>
										</span>
										<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
									</div>
									<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-2 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
										<img src="/img/wafeltje.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0" alt="">
										<div class="sm:w-2/5 md:w-[35%] 2xl:w-[37%] shrink-0">
											<h3 class="lg:text-xl font-bold text-white">VIP: 6 hapjes gevolgd door frietjes, frikandel en brochette</h3>
										</div>
										<span class="block sm:w-1/5 xl:w-1/4 2xl:w-[30%] shrink-0 text-center">
											<p class="text-white text-xs xl:w-5/6">à volonté</p>
										</span>
										<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
									</div>
							 </div> -->

							<!-- MENU'S OP BOARD -->
							<!-- <div class="md:w-[70%]">
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-10 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/stoofvlees.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0 object-cover" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Stoofvlees of vol-au-vent</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Met frietjes en groentjes à volonté</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S OP BORD</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-9 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/halve-kip.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0 object-cover" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Halve kip</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Met frietjes, groentjes en champignonsaus à volonté</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S OP BORD</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-8 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/beenham.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0 object-cover" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Beenham</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Met frietjes, groentjes en champignonsau à volonté</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S OP BORD</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-7 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/steak.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0 object-cover" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Steak (300gr) op grill</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Met frietjes, groentjes en keuze uit 3 warme sauzen. (Rode pepersaus, champignonsaus & béarnaise)</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S OP BORD</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-6 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/filet-pur.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0 object-cover" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Filet Pur</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Met frietjes, groentjes en keuze uit 3 warme sauzen. (Rode pepersaus, champignonsaus & béarnaise) à volonté</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S OP BORD</span>
								</div>
							</div> -->

							<!-- PASTA -->
							<!-- <div class="md:w-[70%]">
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-10 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/bolognaise.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0 object-cover" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Bolognaise</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">tomatensaus, varkensgehakt, worteltjes, paprika</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-9 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/four-cheese.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0 object-cover" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Quattro formaggi</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Comté, emmenthal, chedda</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
								</div>
								<div class="shadow-[0_7px_10px_rgba(0,0,0,0.23)] z-8 relative bg-linear-to-b from-[#deb451] to-[#e7c75e] px-4 lg:px-7 py-2 flex flex-col sm:flex-row sm:items-center  gap-1.5 sm:gap-6 lg:gap-10 text-center sm:text-left">
									<img src="/img/carbonara.webp" class="rounded-full size-16 lg:size-19 shrink-0 mx-auto sm:mx-0 object-cover" alt="">
									<div class="sm:w-1/3 md:w-[27%] lg:w-[30%] xl:w-[35%] 2xl:w-[37%] shrink-0">
										<h3 class="text-xl lg:text-2xl font-bold text-white">Carbonara</h3>
									</div>
									<span class="block sm:w-1/4 2xl:w-[30%] shrink-0">
										<p class="text-white text-xs xl:w-5/6">Room, ham, spek, oregano</p>
									</span>
									<span class="uppercase text-brand-secondary font-bold sm:text-center block sm:w-24 shrink-0 text-sm lg:text-base">MENU'S</span>
								</div>
							</div> -->
						</div>
					</div>
				</div>
				<div class="pb-14 sm:pb-16">
					<div class="sm:h-72 2xl:h-100 relative">
						<img src="/img/about-image.webp" class="sm:w-1/2 lg:w-3/5 2xl:w-[54%] sm:absolute h-full left-0 object-cover" alt="">
						<div class="container xl:px-12 sm:h-72 2xl:h-100 flex items-center">
							<div class="sm:w-1/2 lg:w-2/5 ml-auto sm:pl-10 xl:pl-16 2xl:pl-0 pt-6 sm:pt-0">
								<h2 class="text-white text-4xl/[40px] md:text-5xl/[56px] xl:text-6xl/[72px] font-bold">Over <span class="text-brand-secondary"> ons</span></h2>
								<span class="w-16 md:w-20 h-1.5 md:h-2 lg:h-2.5 bg-white block mt-3 md:mt-4"></span>
								<span class="block pt-6 md:pt-8">
									<p class="text-white text-xs font-medium">Nequatiis reptatur, simagnis aut es exerumendam volor se vidus, im rate volland iaspis et electatus aut etur arci volorem int am iditas sitam ullacepta dis et rem hit expelitiae. Bus, necto qui voloriatem re pe ni rem antia dolum quae net lacerit eum volut voluptius, corias eos soluptasimi, sinulpariam fugitium quo conse rescias dolest lam quiasin etur?</p>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-linear-to-r from-[#f3c955] to-[#e7c75e]">
		<Cta />
		<Footer />
	</div>
</Layout>
