<div class='max-w-[1920px] mx-auto relative z-50 -mt-26 sm:-mt-38 lg:-mt-45 xl:-mt-59 -mb-10 !bg-transparent'>
	<div class="xl:w-[calc(100%-66px)] ml-auto">
			<div class="container xl:px-12">
				<div class="md:w-[90%] lg:w-3/4 2xl:w-3/5 mx-auto bg-linear-to-b from-[#deb451] to-[#e7c75e] px-6 sm:px-8 md:px-12 py-6 relative">
					<img src="/img/bg-cta-fries.webp" class="absolute left-0 inset-y-0 object-cover w-3/4 sm:w-3/5 lg:w-2/3 h-full opacity-20" alt="">
					<div class="relative z-20 justify-between flex flex-col sm:flex-row gap-7 sm:gap-10 sm:items-end">
						<h2 class="text-white text-4xl/[40px] lg:text-5xl/[54px] font-bold">De <span class="text-brand-secondary">Beste Frietjes</span> proberen?</h2>
						<div class="inline-block shrink-0">
							<a href="/" class="font-bold border-2 border-white rounded-full bg-brand-primary text-xl px-4 py-1 text-brand-secondary uppercase btn hover:text-black hover:border-black">
								Nu reserveren
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

