<div class='max-w-[1920px] mx-auto relative z-40'>
	<div class="xl:w-[calc(100%-66px)] ml-auto bg-brand-secondary">
			<div class="container xl:px-12 pt-16 lg:pt-3 pb-3">
				<div class="flex flex-col lg:flex-row lg:justify-between 2xl:justify-center gap-5 lg:gap-14 lg:items-end text-center lg:text-left">
					<a href="/" class="shrink-0">
						<img src="/img/logo.png" class="h-24 mx-auto lg:mx-0" alt="">
					</a>
					<div class="flex flex-col lg:flex-row gap-y-4 gap-x-10 lg:justify-between lg:items-end lg:flex-1 pb-2">
						<div class="flex justify-center lg:justify-start gap-8 items-end">
							<p class="text-white font-semibold text-base/[20px]">Ter eike 2
								<br/>
								8840 Staden
							</p>
							<div>
								<a href="/" class="text-white font-semibold hover:text-brand-primary btn block text-base/[20px]">0475 56 50 54</a>
								<a href="/" class="text-white font-semibold hover:text-brand-primary btn block text-base/[20px]">info@bestefrietjes.be</a>
							</div>
						</div>
						<div class="flex flex-col lg:flex-row lg:items-center gap-2 lg:gap-4">
							<ul class="flex gap-4 lg:items-center justify-center lg:justify-start">
								<li>
									<a href="/" class="font-raleway text-white font-semibold hover:text-brand-primary btn font-semibold text-base/[20px]">
										Terms
									</a>
								</li>
								<li>
									<a href="/" class="font-raleway text-white font-semibold hover:text-brand-primary btn font-semibold text-base/[20px]">
										Privacy
									</a>
								</li>
							</ul>
							<p class="font-semibold text-base/[20px] text-white">Webdesign by Respons.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

