<div class='max-w-[1920px] mx-auto absolute inset-x-0 top-6 z-40'>
	<div class="xl:w-[calc(100%-66px)] ml-auto">
			<div class="container xl:px-12">
				<div class="flex justify-between 2xl:justify-center gap-14 items-center">
					<a href="/" class="shrink-0">
						<img src="/img/logo.png" class="h-24" alt="">
					</a>
					<div class="hidden xl:flex justify-end gap-10 2xl:items-center flex-1">
						<ul class="flex gap-6 items-center">
							<li>
								<a href="/" class="font-raleway text-brand-secondary hover:text-black btn uppercase font-bold">
									Home
								</a>
							</li>
							<li>
								<a href="/" class="font-raleway text-brand-secondary hover:text-black btn uppercase">
									AANBOD
								</a>
							</li>
							<li>
								<a href="/" class="font-raleway text-brand-secondary hover:text-black btn uppercase">
									OVER ONS
								</a>
							</li>
							<li>
								<a href="/" class="font-raleway text-brand-secondary hover:text-black btn uppercase">
									BABYBORREL
								</a>
							</li>
							<li>
								<a href="/" class="font-raleway text-brand-secondary hover:text-black btn uppercase">
									FOTOGALERIJ
								</a>
							</li>
							<li>
								<a href="/" class="font-raleway text-brand-secondary hover:text-black btn uppercase">
									CONTACT
								</a>
							</li>
						</ul>
						<div class="flex gap-4 items-center">
							<a href="/" class="font-bold border-2 border-white rounded-full bg-brand-primary px-2 text-brand-secondary uppercase btn hover:text-black hover:border-black">
								Nu reserveren
							</a>
							<a href="tel:+320475565054" class="font-bold border-2 border-white rounded-full bg-brand-primary px-2 text-brand-secondary uppercase btn hover:text-black hover:border-black">+32 0475 56 50 54</a>
						</div>
					</div>
					<div class="block xl:hidden p-3 border-2 border-black rounded btn hover:border-white hover:bg-white bg-brand-primary">
						<svg class="text-black  size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
					</div>
				</div>
			</div>
		</div>
</div>
